$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-2xl: 1600px;

:export {
  // The order of export relate with withBreakpoint.js
  // Please be careful ordering export
  breakpoint: {
    xs: $bp-xs;
    sm: $bp-sm;
    md: $bp-md;
    lg: $bp-lg;
    xl: $bp-xl;
    xxl: $bp-2xl;
  }
}
